/* ==========================================================================
   0. Includes - Ground zero
   ========================================================================== */

@import url(normalize.css);

/* ==========================================================================
   1. Icons - Sets up the icon font and respective classes
   ========================================================================== */

/* Import the font file with the icons in it */
@font-face {
    font-family: 'icons';
    src:url('../fonts/icons.eot');
    src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icons.woff') format('woff'),
        url('../fonts/icons.ttf') format('truetype'),
        url('../fonts/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Apply these base styles to all icons */
.icon-ghost, .icon-feed, .icon-twitter, .icon-google-plus, .icon-facebook {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

/* Each icon is created by inserting the corret character into the 
   content of the :before pseudo element. Like a boss. */
.icon-ghost:before {
    content: "\e000";
}
.icon-feed:before {
    content: "\e001";
}
.icon-twitter:before {
    content: "\e002";
    font-size: 1.1em;
}
.icon-google-plus:before {
    content: "\e003";
}
.icon-facebook:before {
    content: "\e004";
}

/* ==========================================================================
   2. CSUI CSS
   ========================================================================== */
body {
	padding-bottom: 40px;
	background-color: #F9F9F9;
	color: #1F2428;
}

article h1, article .h1 {
	font-size: 34px;
}

a {
	color: #1F2428;
}

a:hover {
	text-decoration: none;
	color: #000000;
}

a[href] {
	color: #408AD2;
}

a[href]:hover {
	text-decoration: none;
	color: #04396C;
}

code, pre code {
	color: #679ED2;
	background-color: #F5F5F5;
}
pre {
    height: auto;
    overflow: auto;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}


.container {
	max-width: 700px;
}

/* navbar setting */
.navbar {
	background-color: #E6E6E6;
	border-color: #E6E6E6;
	border-color: none;
	border-radius: 0;
	border: 0px solid;
}

.navbar .navbar-header {
	margin: 20px 0 10px 0;
}
.navbar .navbar-header .navbar-brand > .fa-chevron-left:hover {
	-moz-transform: translateX(-5px);
	-webkit-transform: translateX(-5px);
	-o-transform: translateX(-5px);
	-ms-transform: translateX(-5px);
	transform: translateX(-5px);
}	
.navbar .navbar-header .navbar-brand  > .fa-chevron-left{
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out; 
	-o-transition: all 1s ease-in-out; 
	-ms-transition: all 1s ease-in-out;
}
.navbar .navbar-header img {
	height: 23px;
}

.navbar .navbar-text-home {
	margin-top: 20px;
}
.navbar a {
	color: #777;
}
/* posts */
.post {
	margin-top: 10px;
	margin-bottom: 20px;
}

.post h1 {
    font-size: 44px;
}

h1.post-title {
	border-bottom: 1px solid #e6e6e6;
	padding: 0 0 20px 0;
}

h1.post-title a, .post-footer .share a {
	color: #888888;
}

h1.post-title a:hover, .post-footer .share a:hover {
	color: #000000;
}

/* Keep large images within the bounds of the post-width */
.post-content img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.post-header .post-meta .post-tag {
	background: #E6E6E6;
	padding: 6px 10px 8px 10px;
	border-radius: 4px 4px 0 0;
	font-size: 86%;
	color: darkgray;
	line-height: 22px;
}

.post-header .post-meta:hover > a:hover{
	color: gray;
}


.post .post-content {
	margin-bottom: 60px;
}

.atcl-pic {
	width: 100%;
	height: 220px;
	position: relative;
	margin-bottom: 20px;
	box-shadow: inset 0 1px 4px #ccc;
}

.atcl-pic .atcl-pic-holder {
	display: block;
	width: 100%;
	text-align: center;
	color: #ccc;
}
.atcl-pic  i:hover {
	-moz-transform: scale(1.5) rotate(360deg);
	-webkit-transform: scale(1.5) rotate(360deg);
	-o-transform: scale(1.5) rotate(360deg);
	-ms-transform: scale(1.5) rotate(360deg);
	transform: scale(1.5) rotate(360deg);
}
.atcl-pic i {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out; 
	-o-transition: all 1s ease-in-out; 
	-ms-transition: all 1s ease-in-out;
}

.atcl-pic .post-title {
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
	background: #13181E;
	opacity: 0.89;
	padding: 10px 12px;
	width: ï¼webkit-calc(100% + 12px);
	width: calc(100% + 12px);
	margin-left: -6px;
	-webkit-box-shadow: 0 12px 12px -10px #000;
	   -moz-box-shadow: 0 12px 12px -10px #000;
	        box-shadow: 0 12px 12px -10px #000;
			text-align: center;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out; 
	-o-transition: all 1s ease-in-out; 
	-ms-transition: all 1s ease-in-out;
}
.atcl-pic .post-title:hover  {
	-moz-transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	transform: translateY(-5px);
}
.atcl-pic .post-title:hover > a {
	-moz-transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	transform: translateY(-5px);
}

	
.atcl-pic .post-title a {
	color: #E6E6E6;
	font-size: 0.9em;

}

.atcl-pic .post-title a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

.atcl-pic .post-title .post-title-bgl,
.atcl-pic .post-title .post-title-bgr {
	position: absolute;
	top: -6px;
	-webkit-margin-collapse: separate;
	width:0px;
	height:0px;
	opacity: .86;	
}

.atcl-pic .post-title .post-title-bgl {
	margin:0px;
	padding:0px;
	left: -6px;
	border-left:6px solid transparent;
	border-top:7px solid transparent;
	border-right:7px solid  black;
	border-bottom:0px solid transparent;

}

.atcl-pic .post-title .post-title-bgr {
	margin:0px;
	padding:0px;
	right: -6px;
	border-left:7px solid black;
	border-top:7px solid transparent;
	border-right:6px solid  transparent;
	border-bottom:0px solid transparent;
}

.atcl-pic .post-title .post-title-bgl img,
.atcl-pic .post-title .post-title-bgr img {
	width: 6px;
	height: 6px;
	opacity: .86;
}

/* Post Gallery */
.csui-gallery {
	margin-bottom: 20px;
}
.csui-gallery .csui-gallery-img:hover {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}


/* Footer */
footer.container,
footer.container a {
	color: #666666;
}

footer.container .inner {
	padding-top: 12px;
	border-top: 1px solid #DDDDDD;
}

/* Chrome fix */
.chrome .atcl-pic .post-title .post-title-bgl {
	top: -7px;
}

.chrome .atcl-pic .post-title .post-title-bgr {
	top: -7px;
}

/* colorBox fix */
#cboxCurrent {
	bottom: -2px;
}

.img-blur {
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}

/* Ghost CSS */
.poweredby .icon-ghost {
    font-weight: 700;
    text-decoration: none;
}

.poweredby .icon-ghost:hover {
    text-decoration: none;
}

.poweredby .icon-ghost:before {
    font-size: 1rem;
    margin-right: 0.2em;
}

/* Back to top button */
#back-top {
	position: fixed;
	bottom: 30px;
	right:60px;
}

#back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}

#back-top a:hover {
	color: #777;
}

/* Progress CSS */
progress {
  position: fixed;
  left: 0;
  top: 78px;
  opacity: 0.8;
  width: 100%;
  height: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  background-color: transparent;
  color: darkgray;
  z-index:9999;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: darkgray;
  -webkit-border-top-right-radius: 9px;
  -webkit-border-bottom-right-radius: 9px;
}

progress::-moz-progress-bar {
  background-color: #777;

}

/* Google Maps content */
#map_canvas{
	display: block;
	height: 300px;
	width: 100%;
	margin-bottom: 24px;
	margin-top: 40px;	
	-webkit-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-o-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	box-shadow: 2px 2px 0px rgba(0,0,0,.2);
}

.map-content{
	margin-bottom: 60px;
	padding-bottom: 40px;
	border-bottom: 1px solid #ccc;
}

/* ==========================================================================
   3. Media Queries - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width: 900px) {
  
	#back-top {
		display:none;
	}

}

